<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MENU EXTRAS</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-button routerLink="/perro">PERRO</ion-button>
    <ion-button routerLink="/armadura">ARMADURA</ion-button>
    <ion-button routerLink="/computadora">COMPUTADORA</ion-button>
    <ion-button routerLink="/piedra">PIEDRA</ion-button>
    <ion-button routerLink="/pizarron">PIZARRON</ion-button>
    <ion-button routerLink="/salir">SALIR</ion-button>
  </div>
</ion-content>
